@mixin mx-itemarea-flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ng{
   box-sizing: border-box; 
   font-family: "Inter";
   display: flex;
   flex-direction: column;
   height: 100%;
}

.ng_theme__root-items{
    --ng-height: 552px;
    --ng-item-width: 508px;
    --ng-item-height: 156px;
    --ng-navbar-height: 62px;
    --ng-gap: 35px 30px;
    height: var(--ng-height);
}
.ng_content-wrapper{
    flex: 1 0 auto;
}

.ng_item-area{
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--ng-gap);
}
.ng_navbar{    
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    height: var(--ng-navbar-height);
}

.ng_item{
    display: block;
}

.ng-item-theme_root-items{
    width: var(--ng-item-width);
    height: var(--ng-item-height);
    border-radius: 10px;
    background: radial-gradient(66.72% 97.35% at 100% 96.23%, #2f2a85 0, #55317e 100%);
    img{
        display: inline-block;
        position: relative;
        top: 40px;
        left: 40px;
    }
    div{
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        position: relative;
        top: 15px;
        left: 80px;
    }
}

.ng-item-theme_root-items__pressed{
    background: #f9b119;
}


.ng_button{
    width: 64px;
    height: 64px;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;    
    background: linear-gradient(180deg, #55317E 0%, #2F2A85 100%);
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color:white;    
    margin-left: 20px;
}
.ng_button__pressed{
    background: #EFEFFB;
    color: black;        
    stroke: black;
    fill:black;
}
 

.ng-image-verticalPosition-default{
    max-width: 60%;
    height: auto;
    pointer-events: none; /*элемент не может стать объектом мыши*/
    user-select: none; /*запрет на выделениес текста*/
}


